body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #74ebd5, #9face6);
   overflow: hidden;
}


.container {
  text-align: center;
  margin-top: 120px;
}

h1 {
  color: #222;
}

.number {
  width:150px;
    height:150px;
    border-radius:50%;
    background:#4CAF50;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:60px;
    margin-left: 46%;
    box-shadow:0 0 20px rgba(0,0,0,.3);
}

.spin {
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotateY(0deg) scale(1);
  }

  to {
    transform: rotateY(360deg) scale(1.2);
  }
}

.message {
  color: gray;
  font-size: 22px;
  margin: 20px;
}

button {
  padding: 12px 25px;
  margin: 10px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background: royalblue;
  color: white;
  cursor: pointer;
}

button:hover {
  background: darkblue;
}
